<form action="/restaurants/{{ restaurant._id }}/edit" method="post">
  <input type="text" name="name" id="name" placeholder="name..." value="{{ restaurant.name }}">
  <button type="submit">save</button>
  <a href="/">back</a>
</form>